<div *ngIf="!production && showBanner" class="dev-banner" (click)="hideBanner()" >We are running in development...</div>

<mat-card class="toolbar-card">
<mat-toolbar  color="primary">
    <mat-toolbar-row>
        <span>{{ title }}</span>
        <span class="toolbar-spacer"></span>
        <nav>
            <a mat-button routerLink="/dashboard">Dashboard</a>
            <a mat-button routerLink="/use-cases">Heroes</a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
</mat-card>

<mat-card class="main-content">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</mat-card>