/.UseCaseIdeaModule.java._trace
/.UseCaseIdeaModule.xtendbin
/.UseCaseIdeaSetup.java._trace
/.UseCaseIdeaSetup.xtendbin
/.UseCaseStandaloneSetupIdea.java._trace
/.UseCaseStandaloneSetupIdea.xtendbin
/UseCaseIdeaModule.java
/UseCaseIdeaSetup.java
/UseCaseStandaloneSetupIdea.java
