@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body { margin: 0}

.mat-card-title {
    background-color: #eee;
    margin: -25px;
    padding: 25px;
    padding-bottom: 11px;
    padding-top: 11px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDD;
}

.mat-toolbar-multiple-rows {
    height: 36px !important;
    min-height: 36px !important;
}

.mat-toolbar .mat-button-wrapper {
    font-size: 11px;
}

.row {
    clear: both;
}

.m6 {
    float: left;
    width: 50%;
}