/.CucumberGenerator.java._trace
/.CucumberGenerator.xtendbin
/.JavaGenerator.java._trace
/.JavaGenerator.xtendbin
/.LatexGenerator.java._trace
/.LatexGenerator.xtendbin
/.PlantUmlGenerator.java._trace
/.PlantUmlGenerator.xtendbin
/.UseCaseGenerator.java._trace
/.UseCaseGenerator.xtendbin
/CucumberGenerator.java
/JavaGenerator.java
/LatexGenerator.java
/PlantUmlGenerator.java
/UseCaseGenerator.java
